<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="{{favicon}}">
    <link rel="shortcut icon" type="image/x-icon" href="{{favicon}}">
    <link rel="icon" type="image/png" href="{{logo}}">
    <link rel="shortcut icon" type="image/png" href="{{logo}}">
    <link rel="apple-touch-icon" href="{{logo}}">
    <meta property="og:image" content="{{logo}}">
    <meta name="twitter:title" content="{{title}} - Project Info">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:image" content="{{overview_img}}">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:title" content="{{title}} - Project Info" />
    <meta property="og:description" content="{{description}}" />
    <meta name="description" content="{{description}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ollieg.codes" />
    <meta charset="UTF-8">
    <script src="/public/script/project.js" defer></script>
    <link rel="stylesheet" href="/public/style/fonts.css" />
    <link rel="stylesheet" href="/public/style/common.css" />
    <link rel="stylesheet" href="/public/style/project.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/fontawesome.min.css"
        integrity="sha512-8Vtie9oRR62i7vkmVUISvuwOeipGv8Jd+Sur/ORKDD5JiLgTGeBSkI3ISOhc730VGvA5VVQPwKIKlmi+zMZ71w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/brands.min.css"
        integrity="sha512-bSncow0ApIhONbz+pNI52n0trz5fMWbgteHsonaPk42JbunIeM9ee+zTYAUP1eLPky5wP0XZ7MSLAPxKkwnlzw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - Project Info</title>
    <style>
        :root {
            {{#if bg_color}}
            --bg-color: {{bg_color}};
            {{else}}
            --bg-color: #1e292e;
            {{/if}}
        }
    </style>
</head>

<body class="fade-in-bg">
    <noscript>This site requires JavaScript to display the best.</noscript>
    <a id="back" href="/?fade-in#project-{{id}}">&lt; Back</a>
    This is a temporary page while I set up project screens!
    <h1 id="project-title">{{title}}</h1>
    <h2 id="project-desc">{{description}}</h2>
    {{#if example_gif}}
    <!-- example gif -->
    {{else}}
    <!-- show neat icon -->
    {{/if}}
    {{#if repo_url}}
    <!-- repo button -->
    <a href="{{repo_url}}" target="_blank">repo</a>
    {{/if}}
    {{#if live_url}}
    <!-- live button -->
    <a href="{{live_url}}" target="_blank">site</a>
    {{/if}}
</body>

</html>